.box {
   display: flex;
   justify-content: center;
   align-items: center;
}

.box h1 {
    position: absolute;
    z-index: 2;
    margin: 0;
}

.box img {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 90%; 
    padding:2px;
}

.box button {
    position: absolute;
    left: 2%;
    bottom: 5%;
    z-index: 3;
    cursor: pointer;
}